@import "mixins.scss";

.grid-footer-navigation {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__button {
        color: var(--font-color);
        margin: 5px 0;
        @include disablePinchZoom();
    }
}
