.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20%;

  &__top-navigation,
  &__grid {
    max-width: 600px;
  }

  &__top-navigation {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
