.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top-navigation,
  &__grid {
    max-width: 600px;
  }

  &__top-navigation {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 434px;
  }
}
