<div class="grid">
  <!-- grid -->
  <div class="grid__grid-wrapper">
    <mat-grid-list cols="9" rowHeight="9:9">
      <ng-container *ngFor="let row of grid; let rowIndex = index; trackBy:trackByIndex">
        <mat-grid-tile
          *ngFor="let value of row; let colIndex = index; trackBy:trackByIndex"
          class="grid__value-wrapper"
          [class.grid__value-wrapper--group-top]="isGroupTop(rowIndex)"
          [class.grid__value-wrapper--group-end]="isGroupEnd(colIndex)"
          [class.grid__value-wrapper--grid-bottom]="isGridBottom(rowIndex)"
          [class.grid__value-wrapper--grid-end]="isGridEnd(colIndex)"
          (click)="toogleSelectedValue(rowIndex, colIndex)"
        >
          <grid-value
            [value]="value"
            [nomineeValues]="gridNomineeValues[rowIndex][colIndex]"
            [isSelected]="isValueSelected(rowIndex, colIndex)"
            [isReadOnly]="isValueReadOnly(rowIndex, colIndex)"
            [hasError]="isHelpEnabled && isValueErroneous(rowIndex, colIndex, value)"
            [hasSuccess]="isHelpEnabled && !isValueErroneous(rowIndex, colIndex, value)"
            [showNominees]="isValueSelected(rowIndex, colIndex) && showNominees"
          ></grid-value>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </div>

  <!-- navigation -->
  <div
    *ngIf="showFooterNavigation"
    class="grid__navigation"
  >
    <button
      class="grid__navigation-button"
      mat-raised-button
      [color]="hasSelectedValue() && !showNominees ? 'primary' : undefined"
      type="button"
      [disabled]="!hasSelectedValue()"
      (click)="deleteSelectedValue()"
      aria-label="Delete a selected value"
    >Delete number</button>

    <button
      class="grid__navigation-button"
      mat-raised-button
      [color]="showNominees ? 'primary' : undefined"
      type="button"
      (click)="showNominees = !showNominees"
      aria-label="Toggle field edit nominees"
    >Nominees</button>

    <mat-slide-toggle
      color="primary"
      [checked]="isHelpEnabled"
      (change)="onHelpChange($event)"
      aria-label="Enable help"
    >Help</mat-slide-toggle>
  </div>

  <div *ngIf="showFooterNavigation" class="grid__navigation">
    <nominee-values
      (onSelectValue)="onSelectValue($event)"
    ></nominee-values>
  </div>
</div>

