<div class="grid">
  @if (showTopNavigation()) {
    <grid-top-navigation
      [lockValues]="lockValues()"
      [time]="formattedTime()"
      (share)="onShareGrid()"
      (create)="onCreateGrid()"
      (clearAll)="clearAllValues()"
      (lockValuesChange)="onChangeLockValues()"
    ></grid-top-navigation>
  }

  <!-- grid -->
  <div class="grid__grid-wrapper">
    <mat-grid-list cols="9" rowHeight="9:9">
      @for (row of grid(); track $index; let rowIndex = $index) {
        @for (value of row; track $index; let colIndex = $index) {
          <mat-grid-tile
            class="grid__value-wrapper"
            [class.grid__value-wrapper--group-top]="isGroupTop(rowIndex)"
            [class.grid__value-wrapper--group-end]="isGroupEnd(colIndex)"
            [class.grid__value-wrapper--grid-bottom]="isGridBottom(rowIndex)"
            [class.grid__value-wrapper--grid-end]="isGridEnd(colIndex)"
            (click)="toogleSelectedValue(rowIndex, colIndex)"
          >
            <grid-value
              [value]="value"
              [nomineeValues]="gridNomineeValues()[rowIndex][colIndex]"
              [isSelected]="isValueSelected(rowIndex, colIndex)"
              [isReadOnly]="isValueReadOnly(rowIndex, colIndex)"
              [hasError]="isHelpEnabled() && isValueErroneous(rowIndex, colIndex, value)"
              [hasSuccess]="isHelpEnabled() && !isValueErroneous(rowIndex, colIndex, value)"
              [showNominees]="isValueSelected(rowIndex, colIndex) && showNominees()"
            ></grid-value>
          </mat-grid-tile>
        }
      }
    </mat-grid-list>
  </div>

  @if (showFooterNavigation()) {
    <grid-footer-navigation
      [hasSelectedValue]="hasSelectedValue()"
      [showNominees]="showNominees()"
      [isHelpEnabled]="isHelpEnabled()"
      (deleteValue)="deleteSelectedValue()"
      (nomineeToggle)="toggleNominees()"
      (helpChange)="isHelpEnabled.set($event)"
      (selectValue)="onSelectValue($event)"
    ></grid-footer-navigation>
  }
</div>
