@import "styles/mixins";

.grid {
  &__grid-wrapper {
    color: var(--primary-color);
    margin-bottom: 4px;
    min-width: 360px;
  }

  &__value-wrapper {
    border: 2px solid var(--light-border-color);
    @include disablePinchZoom();

    &--group-top {
      border-top: 2px solid var(--border-color);
    }

    &--group-end {
      border-left: 2px solid var(--border-color);
    }

    &--grid-bottom {
      border-bottom: 2px solid var(--border-color);
    }

    &--grid-end {
      border-right: 2px solid var(--border-color);
    }
  }

  &__navigation {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__navigation-button {
    color: var(--font-color);
    margin: 5px 0;
    @include disablePinchZoom();
  }
}

