<div
  fxFlexFill
  fxLayout="row"
  fxLayoutAlign="center center"
  class="sudoku-grid-value"
  [ngClass]="{
    'sudoku-grid-value--readonly': isReadOnly,
    'sudoku-grid-value--clickable': !isReadOnly,
    'sudoku-grid-value--selected': isSelected,
    'sudoku-grid-value--error': hasError && !isReadOnly && value,
    'sudoku-grid-value--success': hasSuccess && !isReadOnly && value,
    'sudoku-grid-value--nominees': isSelected && showNominees
  }"
>
    <span *ngIf="value">{{value}}</span>

    <!-- Nominees -->
    <div class="sudoku-grid-value__nominees-grid" *ngIf="!value">
      <span
        *ngFor="let nomineeValue of nomineeValues"
        fxLayout="row"
        fxLayoutAlign="center center"
      >{{nomineeValue}}</span>
    </div>
</div>

