<div
  class="sudoku-grid-value"
  [ngClass]="{
    'sudoku-grid-value--readonly': isReadOnly,
    'sudoku-grid-value--clickable': !isReadOnly,
    'sudoku-grid-value--selected': isSelected,
    'sudoku-grid-value--error': hasError && !isReadOnly && value !== null,
    'sudoku-grid-value--success': hasSuccess && !isReadOnly && value !== null,
    'sudoku-grid-value--nominees': isSelected && showNominees
  }"
>
    <span *ngIf="value !== null">{{value}}</span>

    <!-- Nominees -->
    <div class="sudoku-grid-value__nominees-grid" *ngIf="value === null">
      <span *ngFor="let nomineeValue of nomineeValues">{{nomineeValue}}</span>
    </div>
</div>

