.sudoku-grid {
  &__grid-wrapper {
    color: var(--primary-color);
    margin-bottom: 4px;
  }

  &__value-wrapper {
    border: 2px solid var(--light-border-color);

    &--group-top {
      border-top: 2px solid var(--border-color);
    }

    &--group-end {
      border-left: 2px solid var(--border-color);
    }

    &--grid-bottom {
      border-bottom: 2px solid var(--border-color);
    }

    &--grid-end {
      border-right: 2px solid var(--border-color);
    }
  }

  &__navigation {
    margin: 0px;
  }

  &__navigation-button {
    color: white;
    margin: 5px 0;
    /**
     * Disables pinch zoom on iphone safari
     * https://stackoverflow.com/a/60802252/3303652
     */
    touch-action: none;

    &--active {
      background: var(--secondary-color);
    }

    &--nominee {
      color: var(--font-color);
      font-weight: bold;
    }

    &--narrow {
      margin: 0px;
    }
  }
}

